* {
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Radio Canada", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap");

h2 {
  color: black;
}
